.hd-1{
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    margin: 16px 0px;
}

.row{
  display: flex;
  justify-content: space-around;
}
.card{
  border: 2px solid red;
  width: 42rem;
  height: 34rem;
  margin: 25px 0px;
  text-align: center;
  padding: 10px 10px;
  background-color: aqua;
  cursor: pointer;
}
.row .card img{
  width: 37rem;
  height: 22rem;
}
.row .card P{
  color: rgb(0, 0, 0);
  margin: 8PX 0px;
  font-size: 15px;
  font-weight: 900;
}



@media(max-width:1222px){
  .row{
    display: block;
  }
  .card{
    margin: auto;
    margin-top: 8px
  }
}

@media(max-width:360px){
  .card{
    width: 30rem;
    height: 27rem;
    margin-top: 8px
  }
  .row .card img{
    width: 27rem;
    height: 18rem;
  }
  .row .card P{
    margin: 4PX 0px;
    font-size: 10px;
    font-weight: 900;
  }
}