html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #FFFBA2;
}
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
}
.img-f {
  margin-top: -17rem;
  width: auto;
  height: auto;
}

.home-section {
  position: relative;
  z-index: -1;
  /* background-image: var(--image-gradient), url(./Assets/home-bg.jpg); */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}
.img-fluid {
    width: 52rem;
    height: 52rem;
    margin-left: auto;
}

.heading {
  font-size: 4rem !important;
  font-weight: 300;
  padding-left: 50px !important;
}
.p {
  color: var(--imp-text-color) !important;
  font-size: 2.2rem;
  font-family:Arial, Helvetica, sans-serif;
}

.heading-name {
  font-weight: 400;
  font-size: 4em !important;
  padding-left: 45px !important;
}

.main-name {
   font-size: 4.2rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(245, 54, 54), rgb(236, 248, 59)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.Typewriter__wrapper {
  font-size: 3rem !important;
  font-weight: 400 !important;
  font-family: cursive !important;
  background: -webkit-linear-gradient(rgb(245, 235, 91), rgb(69, 247, 113)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.Typewriter__cursor {
  font-size: 3em !important;
  color: #80f763 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  /* padding-top: 50px; */
  font-size: 1.6rem !important;
  font-family: cursive;
  text-align: left;
}

.home-about-social {
  text-align: center !important;
  margin-top: -6rem;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 35px !important;
  height: 35px !important;
  text-align: center !important;
  font-size: 2.1em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #68187a;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 25px #f0ed5a;
}

.home-social-icons:hover {
  color: #87209e;
  box-shadow: 0 0 25px #e1f182;
  text-shadow: 0 0 22px #f2f551;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #700c86 !important;
}
